{% load staticfiles %}

<!DOCTYPE html>

<head>

<link rel="stylesheet" href="{% static 'css/app01.css' %}">

        {% block title %}
                <title>WEB01</title>
        {% endblock title %}

</head>

<body>
        <div>
                <ul>
                        <li><a href="{% url 'home' %}">Início</a></li>
                        <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                        <li><a href="{% url 'lista' %}">Lista</a></li>
                        <li><a href="{% url 'despesas' %}">Despesas</a></li>
                        <li><a href="{% url 'listadespesas' %}">Lista de Despesas</a></li>
                </ul>
        </div>

</body>

{% block content %}

{% endblock content %}

</html>